In [1]:
import pandas as pd

In [39]:
df = pd.read_csv('base.txt', sep=';',dtype='unicode',encoding='latin-1')

In [50]:
df

   id              data      nome
0   1  08/07/2019 20:18   Abner D
1   2  08/07/2019 20:18    Carlos
2   3  08/07/2019 20:18   Matheus
3   4  08/07/2019 20:18    Bianca
4   5  08/07/2019 20:18     Silva
5   6  08/07/2019 20:18   Marcela
6   7  01/08/2019 20:18    Angela
7   8  30/08/2019 20:18      João
8   9  29/08/2019 20:18  Severino
9  10  28/08/2019 20:18     Credo

In [55]:
day = df['data'].str[:2]
month = df['data'].str[3:5]
year = df['data'].str[6:10]

In [61]:
data_correta = day + '/' + month + '/' + year

In [62]:
df_2 = pd.DataFrame()
df_2['oi'] = pd.to_datetime(data_correta, format = '%d/%m/%Y')

In [63]:
df_2.sort_values(by=['oi'] ,  ascending=False)

          oi
7 2019-08-30
8 2019-08-29
9 2019-08-28
6 2019-08-01
0 2019-07-08
1 2019-07-08
2 2019-07-08
3 2019-07-08
4 2019-07-08
5 2019-07-08